USE [master]
GO
/****** Object:  Database [ASM_DBI202_Slot3_QuocPQHE163061_SP2022]    Script Date: 7/9/2022 4:28:05 PM ******/
CREATE DATABASE [ASM_DBI202_Slot3_QuocPQHE163061_SP2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASM_DBI202_Slot3_QuocPQHE163061_SP2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ASM_DBI202_Slot3_QuocPQHE163061_SP2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASM_DBI202_Slot3_QuocPQHE163061_SP2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ASM_DBI202_Slot3_QuocPQHE163061_SP2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASM_DBI202_Slot3_QuocPQHE163061_SP2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASM_DBI202_Slot3_QuocPQHE163061_SP2022]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[ID_Assessment] [nchar](20) NOT NULL,
	[ID_SubjectSemester] [nchar](20) NULL,
	[name] [nvarchar](150) NULL,
	[Weight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Assessment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID_Student] [nchar](20) NOT NULL,
	[ID_Session] [nchar](20) NOT NULL,
	[Check_Attendance] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC,
	[ID_Session] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[ID_Student] [nchar](20) NOT NULL,
	[ID_Group] [nchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC,
	[ID_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID_Group] [nchar](20) NOT NULL,
	[name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Subject_Semester]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Subject_Semester](
	[ID_Group] [nchar](20) NOT NULL,
	[ID_SubjectSemester] [nchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Group] ASC,
	[ID_SubjectSemester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[ID_Session] [nchar](20) NOT NULL,
	[name] [nvarchar](150) NULL,
	[ID_SubjectSemester] [nchar](20) NULL,
	[Slot_Number] [int] NULL,
	[Slot] [int] NULL,
	[ID_Group] [nchar](20) NULL,
	[Room] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Session] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID_Student] [nchar](20) NOT NULL,
	[name] [nvarchar](150) NULL,
	[gender] [bit] NULL,
	[dob] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Assessment]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Assessment](
	[ID_Assessment] [nchar](20) NOT NULL,
	[ID_Student] [nchar](20) NOT NULL,
	[Date] [date] NOT NULL,
	[Score] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Assessment] ASC,
	[ID_Student] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID_Subject] [nchar](20) NOT NULL,
	[name] [nvarchar](150) NULL,
	[totalSlot] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Semester]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Semester](
	[ID_SubjectSemester] [nchar](20) NOT NULL,
	[ID_Subject] [nchar](20) NULL,
	[Semester] [nchar](20) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SubjectSemester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 7/9/2022 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[Slot] [int] NOT NULL,
	[Time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Slot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Subject_Semester] FOREIGN KEY([ID_SubjectSemester])
REFERENCES [dbo].[Subject_Semester] ([ID_SubjectSemester])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK_Assessment_Subject_Semester]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ID_Session])
REFERENCES [dbo].[Session] ([ID_Session])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Student] ([ID_Student])
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID_Group])
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Student] ([ID_Student])
GO
ALTER TABLE [dbo].[Group_Subject_Semester]  WITH CHECK ADD FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID_Group])
GO
ALTER TABLE [dbo].[Group_Subject_Semester]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject_Semester_Subject_Semester] FOREIGN KEY([ID_SubjectSemester])
REFERENCES [dbo].[Subject_Semester] ([ID_SubjectSemester])
GO
ALTER TABLE [dbo].[Group_Subject_Semester] CHECK CONSTRAINT [FK_Group_Subject_Semester_Subject_Semester]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID_Group])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([Slot])
REFERENCES [dbo].[TimeSlot] ([Slot])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Subject_Semester] FOREIGN KEY([ID_SubjectSemester])
REFERENCES [dbo].[Subject_Semester] ([ID_SubjectSemester])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Subject_Semester]
GO
ALTER TABLE [dbo].[Student_Assessment]  WITH CHECK ADD FOREIGN KEY([ID_Assessment])
REFERENCES [dbo].[Assessment] ([ID_Assessment])
GO
ALTER TABLE [dbo].[Student_Assessment]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Student] ([ID_Student])
GO
ALTER TABLE [dbo].[Subject_Semester]  WITH CHECK ADD FOREIGN KEY([ID_Subject])
REFERENCES [dbo].[Subject] ([ID_Subject])
GO
USE [master]
GO
